@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --titan-silver: 196 196 196;
        --light-silver: 240 240 240;
        --dark-green: 7 72 74;
        --light-green: 112 144 139;
    }
}